.Hotspot {
    background-color: #ffffff;
    color: rgb(9, 47, 34);
    border-radius: 3px;
    padding: 3px;
}

#desk-info {
    display: none;
}

#chair-info {
  display: none;
}

#beanBag-info {
  display: none;
}
.product-info{
  height:200px;
  overflow: scroll;
  padding:20px;
  text-align: left;
  background-color: rgb(241, 239, 237);
}

.visible {
    display: block;
}

/* general style */
* {
    box-sizing: border-box;
  }
  a {
    text-decoration: none;  
  }

  
  h1 {
    font-family: "Cutive Mono";
    color:#4a2011;
    font-size: 24px;
    text-align: left;
    padding-left: 5px;
  }
  
  h1::after {
    content: "";
    display: inline-block;
    height: 5px;
    width: 10px;
    margin-left: 10px;
    background: #4a2011;
  }
  
  h2{
    font-family: "Space Mono";
    font-size: 1.4em;
   text-align: left;
   font-weight: 700;
   padding-left: 5px;
  }
  
  ul,li, a{
    margin: 0;
      padding: 0px;
  }
  body{
    margin: 0;
    font-family: "Cutive Mono";
    font-size: 12px;  
  }
  
  
  @media (max-width: 600px){
    h1 {
      padding: 5px;
      font-size: 1.2em;
    }
  }
  /*header*/
  #header {
    background:white;
    width: 100%;
    max-width: 100%;
    margin: 0 ;
    justify-content: space-evenly;
    align-items: center;
    font-size: 26px;
    display: flex;
    flex-wrap: wrap;
    font-family: "poiret one";
  }
  
  
  
  #header-img {
    width: 100%;
  }
  
  #nav-bar ul {
  display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  #nav-bar a {
    font-size: 1.1em;
    display: inline-block;
   color: #4a2011;
   padding: 10px;
  }
  
  #nav-bar a:hover {
    color: white;
    background: #4a2011;
    border-radius: 5px;
  }
  
  #nav-bar ul li a:after {
    content: "";
    display: block;
    height: 2px;
    background: #00ad8b;
    margin-top: 4px;
    width: 0px;
    transition: 0.3s;
    position: absolute;
  }
  
  .nav-bar ul li a:hover:after {
    width: 100%;
  }
  @media (max-width: 576px){
    .logo {
      max-width: 50%;
      margin:auto;
    }
  #header {
    justify-content: center;
  }
  #nav-bar ul {
    gap: 10px;
  }
  
  #nav-bar a {
    font-size: 0.7em;
    display: inline-block;
   color: #4a2011;
   padding: 7px;
  }
  }
  /* about */
  .main {
    max-width: 960px;
    margin: auto;
    text-align: center;
  }
  

  
  @media (max-width: 576px){
    .main p {
      padding: 10px;
     font-size: 0.9em;
     line-height: 30px;
    }
  }
  
  /* products*/ 
  .product{
    max-width: 100%;
    margin-top: 100px;
     display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:center;
height: 800px;
  }
  
  .product-img{
    width: 75%;
  }
  .card{
    background: rgb(241, 239, 237);
    width: 450px;
    height: 500px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    opacity: 95%;
  }

  
  
  .card:hover {
  opacity: 100%;
  transition: 0.3s;
  }
  
#model{
    width: 350px;
    height:400px;
}
.model{
    width: 450px;
    height: 500px;
}

button{
  background-color: antiquewhite;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 12px;
  border: 1px solid #4a2011;
  border-radius: 4px;
  padding: 5px;
  cursor: grab;
}

button:hover{
  background-color: rgba(89, 65, 51, 0.723);
  border: 1px solid white;
  color: white;
}

  
  @media (max-width: 600px){
    .products {
      margin-top:50px;
    }
  }
 
  
  /*footer*/
    .footer {
      border-top: 1px solid #4a2011;
      text-align: center;
        opacity: 50px;
        margin-top: 100px;
        border-radius: 10px;
        width: 100%;
    }
    .footer p{
      padding: 5px;
      color: #4a2011; 
  
     }